.App {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.Header {
    flex: 1 100%;
    background: lightblue
}

.Filter {
    background: lightgray;
    flex: 0 200px;
}

.Cards {
    flex: 1;
    height: calc(100vh - 58px);
    display: flex;
    flex-flow: column;
}

.CardList{
    background: blue;
    flex: 1
}

.CardDetails{
    background: green;
    flex: 0 420px
}

.btn {
    box-shadow: none !important;
}