.CardDetails {
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}

.CardDetails .cardThumb {
    margin: 5px;
    flex: 0 0;
    
}

.CardDetails .charaicon {
    height: 75px;
    border-radius: 10px
}