.Header {
    display: flex;
    padding: 10px
}

.Header .Title {
    flex: 1
}

.Header img {
    height: 38px
}

.Header .fa-bars {
    width: 25px;
    height: 25px;
    margin: 6px 15px 7px 10px;
}