.Header {
    display: flex;
    padding: 10px;
}

.Header .Title {
    flex: 1
}

.Header img {
    height: 38px
}

.Header .fa-bars {
    width: 70px;
    height: 54px;
    padding: 16px 25px 13px 20px;
}

.Header .sidebar-btn{
    margin: -10px 0 -10px -10px;
}

.Header .sidebar-btn :hover{
    color: grey;
    cursor: pointer;
}
